<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="normalize/normalize.css">
    <link href="css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body style="margin:0px">
    <header class="main-header">
        <div class="main-header-top-bar">
            <div>
                <a href="/home"><img src="/img/logo-mercado-liebre.svg" class="logo"></img></a>
            </div>
            <nav class="search-bar" >
                <input  type="text" placeholder=" Buscar productos, marcas y más" >
                <button ><i class="fa-solid fa-magnifying-glass"></i></button>    
            </nav >
            <div class="top-bar-title">
                <h4><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h4>
            </div>
        </div>
        <div class="main-header-bottom-bar">
                <button class="burguer-button">
                    <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
                </button>
            
            <nav class="header-bars">
                <ul class="nav-bar" >
                    <li>
                        <a href="" >Ofertas</a>
                    </li>
                    <li>
                        <a href="" >Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="" >Vender</a>
                    </li>
                    <li>
                        <a href="" >Ayuda</a>
                    </li>
                </ul>
                <ul class="login-bar">
                    <li>
                        <a href="/register" >Crea tu cuenta <i class="fa-regular fa-id-card" style="color: #070709;"></i></a>
                    </li>
                    <li>
                        <a href="/login" >Ingresa <i class="fa-solid fa-right-to-bracket" style="color: #040506;"></i></a>
                    </li>
                    <li>
                        <a href="" >Mis compras <i class="fa-solid fa-basket-shopping" style="color: #06070a;"></i></a>
                    </li>
                </ul>
            </nav>
        </div>      
        
        <div>
            <img src="/img/img-home-banner.jpg" style="width: 100%;display: flex;">
        </div>
    </header>
        

    <main class="main-products">
        <h4 >Basado en tu ultima visita</h4>
            <section class="main-ultima-visita">
                <div class="product">
                    <div>
                        <img src="/img/img-cafetera-moulinex.jpg">
                    </div>
                    <div class="price-discount-box"> 
                        <div class="container-delivery-truck">
                            <i class="fa-solid fa-truck delivery-truck"></i> 
                        </div>                       
                       <label class="product-price">$ 6.770</label>
                       
                       <label class="product-discount">40% OFF</label>
                       <br>
                       <label class="product-description">Cafetera Moulinex</label>
                    </div>
                </div>
                <div class="product">
                    <div>
                        <img src="/img/img-samsung-galaxy-s10.jpg">
                    </div>
                    <div class="price-discount-box"> 
                        <div class="container-delivery-truck">
                            <i class="fa-solid fa-truck delivery-truck"></i> 
                        </div>                       
                       <label class="product-price">$ 85.000</label>
                       
                       <label class="product-discount">15% OFF</label>
                       <br>
                       <label class="product-description">Samsung Galaxy S10</label>
                    </div>
                </div>
                <div class="product">
                    <div>
                        <img src="/img/img-bicicleta-mountain-bike.jpg" style="margin: 18% 0">
                    </div>
                    <div class="price-discount-box"> 
                        <div class="container-delivery-truck">
                            <i class="fa-solid fa-truck delivery-truck"></i> 
                        </div>                       
                       <label class="product-price">$ 53.331</label>
                       
                       <label class="product-discount">35% OFF</label>
                       <br>
                       <label class="product-description">Bicilceta Mountain Bike Glock</label>
                    </div>
                </div>
                <div class="product">
                    <div>
                        <img src="/img/img-xbox-series-s.jpg">
                    </div>
                    <div class="price-discount-box"> 
                        <div class="container-delivery-truck">
                            <i class="fa-solid fa-truck delivery-truck"></i> 
                        </div>                       
                       <label class="product-price">$ 251.500</label>
                       
                       <label class="product-discount">10% OFF</label>
                       <br>
                       <label class="product-description">Xbox Series-S 512GB</label>
                    </div>
                </div>
        </section>
        <h4>Sección de Ofertas</h4>
            <section class="main-ofertas">
                <div class="product">
                    <div>
                        <img src="/img/img-macbook-pro-2019.jpg">
                    </div>
                    <div class="price-discount-box"> 
                        <div class="container-delivery-truck">
                            <i class="fa-solid fa-truck delivery-truck"></i> 
                        </div>     
                        <label class="product-price">$ 20.500</label>
                        
                        <label class="product-discount">20% OFF</label>
                        <br>
                        <label class="product-description">Mac Book Pro</label>
                    </div>
                </div>
                <div class="product">
                    <div>
                        <img src="/img/img-tv-samsung-smart.jpg">
                    </div>
                    <div class="price-discount-box"> 
                        <div class="container-delivery-truck">
                            <i class="fa-solid fa-truck delivery-truck"></i> 
                        </div>     
                        <label class="product-price">$ 130.550</label>
                        
                        <label class="product-discount">20% OFF</label>
                        <br>
                        <label class="product-description">Samsung Smart TV</label>
                    </div>
                </div>
                <div class="product">
                    <div>
                        <img src="/img/img-samsung-galaxy-s23.jpg">
                    </div>
                    <div class="price-discount-box"> 
                        <div class="container-delivery-truck">
                            <i class="fa-solid fa-truck delivery-truck"></i> 
                        </div>     
                        <label class="product-price">$ 450.000</label>
                        
                        <label class="product-discount">35% OFF</label>
                        <br>
                        <label class="product-description">Samsung Galaxy S23 Ultra</label>
                    </div>
                </div>
                <div class="product">
                    <div>
                        <img src="/img/img-playstation -5.jpg" style="margin:22% 0;">
                    </div>
                    <div class="price-discount-box"> 
                        <div class="container-delivery-truck">
                            <i class="fa-solid fa-truck delivery-truck"></i> 
                        </div>     
                        <label class="product-price">$ 430.000</label>
                        
                        <label class="product-discount">5% OFF</label>
                        <br>
                        <label class="product-description">Play Station 5- 512 GB</label>
                    </div>
                </div>
                <div class="product">
                    <div>
                        <img src="/img/img-termo- stanley.jpg">
                    </div>
                    <div class="price-discount-box"> 
                        <div class="container-delivery-truck">
                            <i class="fa-solid fa-truck delivery-truck"></i> 
                        </div>     
                        <label class="product-price">$ 42.500</label>
                        
                        <label class="product-discount">25% OFF</label>
                        <br>
                        <label class="product-description">Termo Stanley Classic</label>
                    </div>
                </div>
        </section>
    </main>

    <footer>
    <div class="footer-articles">
        <article>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
    </div>
        <div class="footer-copyrigth">
            <label>Copyright © 1999-2020 MercadoLiebre S.R.L.</label>
        </div>
    
    </footer>  
    <script src="https://kit.fontawesome.com/4c838bbcd7.js" crossorigin="anonymous"></script> 
</body>
</html>