<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" href="normalize/normalize.css">
        <link href="css/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body style="margin:0px;">
        <header class="main-header-form">
            <div class="main-header-top-bar">
                <div>
                    <img src="/img/logo-mercado-liebre.svg" class="logo"></img>
                </div>
                <nav class="search-bar" >
                    <input  type="text" placeholder=" Buscar productos, marcas y más" >
                    <button ><i class="fa-solid fa-magnifying-glass"></i></button>    
                </nav >
                <div class="top-bar-title">
                    <h4><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h4>
                </div>
            </div>
            <div class="main-header-bottom-bar">
                    <button class="burguer-button">
                        <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
                    </button>
                
                <nav class="header-bars">
                    <ul class="nav-bar" >
                        <li>
                            <a href="" >Ofertas</a>
                        </li>
                        <li>
                            <a href="" >Tiendas Oficiales</a>
                        </li>
                        <li>
                            <a href="" >Vender</a>
                        </li>
                        <li>
                            <a href="" >Ayuda</a>
                        </li>
                    </ul>
                    <ul class="login-bar">
                        <li>
                            <a href="/register" >Crea tu cuenta <i class="fa-regular fa-id-card" style="color: #070709;"></i></a>
                        </li>
                        <li>
                            <a href="" >Ingresa <i class="fa-solid fa-right-to-bracket" style="color: #040506;"></i></a>
                        </li>
                        <li>
                            <a href="" >Mis compras <i class="fa-solid fa-basket-shopping" style="color: #06070a;"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>      
        </header>
        <h3 class="titulo-login">Entra a tu cuenta de Mercado Liebre</h3>
        <form action="/" method="POST" class="register-form">
            <div class="register-form-element">
                <input type="text" name="usuario" placeholder="nombre de usuario" class="inputs">
            </div>
            <div class="register-form-element">
                <input type="password" name="password" placeholder="contraseña" class="inputs">
            </div>
            <div>
                <button type="submit" class="login-button">Ingresar</button>
            </div> 
            <a href="" name="olvidoContraseña" class="login-button-text"> Olvido su contraseña </a>
            <a href="/register" name="olvidoContraseña" class="login-button-text"> Registrar una cuenta nueva </a>      
        </form>    
        
        <script src="https://kit.fontawesome.com/4c838bbcd7.js" crossorigin="anonymous"></script> 
    </body>
</html>