<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="normalize/normalize.css">
        <link href="css/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>
        <body style="margin:0px">
            <header class="main-header">
                <div class="main-header-top-bar">
                    <img src="/img/logo-mercado-liebre.svg" class="logo"></img>
                    <nav class="search-bar" >
                        <input  type="text" placeholder="Buscar productos, Marcas" >
                        <button ><i class="fa-solid fa-magnifying-glass"></i></button>    
                    </nav >
                    <h4><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h4>
                </div>
                <div class="main-header-bottom-bar">
                    <button class="burguer-button">
                        <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
                    </button>
                    <nav class="header-bars">
                        <ul class="nav-bar" >
                            <li>
                                <a href="" >Ofertas</a>
                            </li>
                            <li>
                                <a href="" >Tiendas Oficiales</a>
                            </li>
                            <li>
                                <a href="" >Vender</a>
                            </li>
                            <li>
                                <a href="" >Ayuda</a>
                            </li>
                        </ul>
                        <ul class="login-bar">
                            <li>
                                <a href="" >Crea tu cuenta <i class="fa-regular fa-id-card" style="color: #070709;"></i></a>
                            </li>
                            <li>
                                <a href="" >Ingresa <i class="fa-solid fa-right-to-bracket" style="color: #040506;"></i></a>
                            </li>
                            <li>
                                <a href="" >Mis compras <i class="fa-solid fa-basket-shopping" style="color: #06070a;"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>     
            </header>

            <form action="/" method="POST" class="register-form">
                <div class="register-form-element">
                    <input type="text" name="nombre" placeholder="nombre">
                </div>
                <div class="register-form-element">
                    <input type="text" name="apellido" placeholder="apellido">
                </div>
                <div class="register-form-element">
                    <input type="text" name="usuario" placeholder="nombre de usuario">
                </div>
                <div class="register-form-element">
                    <label>Fecha de Nacimiento</label>
                    <input type="date" name="fechaNacimiento">
                </div>
                <div class="register-form-element">
                    <input type="text" name="domicilio" placeholder="domicilio">
                </div>
                <div class="register-form-category">
                    <label>Comprador</label>
                    <input type="radio" name="comOven" value="com">
                    <label>Vendedor</label>
                    <input type="radio" name="comOven" value="ven">
                </div>
                <div class="register-form-element">
                    <label>Categoria de Interes</label>
                    <select name="interes">
                        <option>Electro</option>
                        <option>Moda</option>
                        <option>Hogar</option>
                        <option>Jugueteria</option>
                        <option>Vida sana</option>
                    </select>
                </div>
                <div class="register-form-element">
                    <label>Foto de usuario</label>
                    <input type="file" name="fotoUsuario" accept=".jpg, .png">
                </div>
                <div class="register-form-element">
                    <input type="password" name="password" placeholder="contraseña">
                </div>
                <div class="register-form-element">
                    <input type="password" name="confirmPassword" placeholder="Confirmar contraseña">
                </div>

                <div>
                <button type="submit" class="register-buttons">Enviar</button>
                <button type="reset" class="register-buttons">Borrar</button>
                </div>
            </form>
    
            <script src="https://kit.fontawesome.com/4c838bbcd7.js" crossorigin="anonymous"></script> 
    </body>

</html>