* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/* ---------------------------------------- Header- Mobile --------------------------------------------- */
.main-header {
    background-color: #EAC926;
    font-size: 16px;
}

.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: 0 3% 0;
}

.top-bar-title{
    margin: 0 auto;
}

.top-bar-title h4{
    font-weight: 200;
    margin: 10px;
}

.logo{
    height: 10vh;
    width: 35vw;
}

.search-bar{
    display: flex;
    height:10vh;
    width:47vw;
    align-items: center;
    font-size: 15px;
}

.search-bar input{
    height: 60%;
    width: 85%;
    border: none;
    border-radius: 3px 0 0 3px;
}

.search-bar button{
    height: 60%;
    width: 15%;
    border: none;
    background-color: white;
    border-radius: 0 3px 3px 0;
}

.burguer-button{
    display: block;
    background-color: #03264C;
    border-radius: 10%;
    padding:2% 4%;
    text-align: center; 
    margin: 3% auto; 
}

.header-bars{
    display: none;   
}

.main-header-bottom-bar:hover{
    .header-bars{
        display: flex;
        flex-direction: column;
        }
}


.main-header-bottom-bar ul{
    padding: 0px;
    list-style: none;
    margin: 15px 5px 10px;
}

.main-header-bottom-bar li{
    margin-top: 5px;
}

.main-header-bottom-bar a{
    color:black;
    text-decoration: none;  
}

/* ---------------------------------------- Header-desktop --------------------------------------------- */

@media (min-width:769px){

.main-header{
    font-size: 18px;
}

.main-header-top-bar{
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-wrap: nowrap;
        margin:0 8%;
        padding-top: 20px;
        height: 7vh;
}

.logo{
    height: 5vh;
    width: 10vw;
    margin: 0 13px;
}

.search-bar{
    align-items:center;
    margin:0 25px;
}

.search-bar input{
    height: 50%;
}    

.search-bar input::placeholder{
    font-size: 17px;
}

.search-bar button{
    height: 50%;
    width: 5%;
}

.main-header-top-bar h4{
    margin:0 0 0 3%;
    text-align: center;
    width: 100%;   
}

.main-header-bottom-bar{
    margin: 10px 8%;
}        


.header-bars{
        display: flex;
        justify-content: space-between;
}

.main-header-bottom-bar:hover{
    .header-bars{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }
}

.header-bars li{
    margin:0 8px;
}

.burguer-button{
    display: none;
}

.nav-bar{
    display: flex;
    justify-content: flex-start;
    width: 40%;  
}

.login-bar{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}




}

/* ------------------------------------------ Main --------------------------------------------- */

.main-products{
    padding: 2vw;
    color: #666;
}

.main-products h4{
    font-size: 24px;
    text-align: center;
    margin: 15% 0;
}

.product{
    background-color: white;
    margin: 5% 0;
    border-radius: 4px;
    border: solid 1px white;
    transition: all  400ms;
}

.product:hover{ 
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}

.product:hover .product-description{
        display: flex;
        margin-top: 10px;   
}

.price-discount-box{
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.container-delivery-truck{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.delivery-truck{
    border:solid #39b54a;
    border-radius: 50%;
    color:#39b54a;
    padding: 5px;
    position: absolute;
}

.delivery-truck:hover{
    transform: rotate(-90deg);
}

.main-products img{
    width: 100%;
    margin-bottom: 1px;
}

.product-price{
    font-size: 20px;
    color: black;
    margin-right: 5px;
}

.product-discount{
    font-size: 16px;
    color:#39b54a;
}

.product-description{
    display: none;
    transition: all 400ms;
}

/* ---------------------------------------- Main-desktop --------------------------------------------- */

@media (min-width:769px){

.main-ultima-visita{
    display: flex;
    flex-wrap: wrap;
}

.main-ofertas{
    display: flex;
    flex-wrap: wrap;
}

.main-products h4{
    font-size: 32px;
    font-weight: 300;
    text-align: start;
    margin: 2% 2% 0;
}

.product{
    margin: 2%;
    width:21%;
    font-size: 18px;
}

.product-price{
    font-size: 24px;
    color: black;
}

}

/* ------------------------------------------ Footer --------------------------------------------- */

footer {
    background-color: white;
    color:#666;
    padding: 3% 2% 0;
}
.footer-articles{
    text-align:center;
    margin: 15px;   
}

.footer-articles article{
    margin: 50px 0px;
    font-size: 4vw;
}

.footer-articles i{
    display:flex;
    font-size: 2em;
    justify-content: center;
    margin-bottom: 10px;
    color: #1259c3;
}

.footer-articles h3{
    margin:0px;
    padding:0px;
}

.footer-articles p{
    margin-top:0px;
    padding:0px;
    font-size: 12px;
}
.footer-copyrigth{
    font-size: 12px;
    text-align: left;
    margin:0px
}

/* ---------------------------------------- Footer-desktop --------------------------------------------- */

@media (min-width:769px){

.footer-articles{
        display: flex;
        margin: 5%;
}

.footer-articles article{
    font-size: 1.5vw;
    margin: 0 20px;
}

.footer-articles h3{
    text-align: center;
    margin: 2vh 0;
}
.footer-articles p{
    font-size: 1vw;
    text-align: center;
    margin-top: 10px;
}

}

/* ------------------------------------------ Form --------------------------------------------- */
.main-header-form{
    padding-bottom: 1%;
    background-color: #EAC926;
    font-size: 16px;
}

.register-form{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ebebeb;
}

.register-form div{
    padding: 20px 10px;
}

.register-form-element{
    display: flex;
    flex-direction: column;
}

.register-form-category{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.register-form-element label{
    margin-bottom: 15px;
}

.inputs{
    height: 35px;
    border: none;
    border-radius: 5px;
}

.button-box{
    padding: 0 20px 10px;
}

.register-buttons{
    background-color: #03264C;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 30vw;
}

.register-buttons:hover{
    transform: scale(1.01);
    opacity: 70%;
}

.titulo-login{
    text-align: center;
    font-weight: 200;
    margin: 10% 0;
}

.login-button{
    background-color: #03264C;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: block;
    width: 100%;
    position: relative;
    top: 10px;
    transition: all 400ms;
}

.login-button:hover{
    transform: scale(1.01);
    opacity: 70%;
}

.login-button-text{
    text-decoration: none;
    color: #03264C;
    font-size: 13px;
    margin-left: 10px;
}

@media (min-width:769px){

.register-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-around;
    position: relative;
}

.register-form-element{
    width: 40vw; 
    margin: 10px 0;
}

.register-form-category{
    width: 40vw; 
}

.register-form-element input{
    height: 50px;
}

.buttons-box{
    position: relative;
    top: 25px;
    left: 180px;
}

.register-buttons{
    width: 20vw;
}

}