* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #666;
}

header {
    background-color: #EAC926;
    color: black;
}

.compra-en-cuotas{
    font-weight: 200;
    text-align: center;
    font-size: medium;
}

.imagen{
    height: 10vh;
    width: 40vw;
    margin-left: 5vw;
}
.imagenes-tamanio{
    width: 100vw;
}

.search-bar{
    margin-left: 5vw;
    height:4vh;
    width:40vw;
}

.nav-bar{
    color:black;
    text-decoration: none;
    font-size:small;
    margin:0px;
    padding: 0px;
}

.bars{
    display: inline-block;
    background-color: #1259c3;
    border-radius: 10%;
    padding: 2%;
    margin:5%;
    
}

.alineado{
    display: flex;
    justify-content: center;

}
.titulares{
    font-size: 24px;
}

.texto{
    font-size: 12px;
}

.precio{
    font-size: 18px;
}

.descuentos-descripciones{
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    color:#666;
}

h3 {
    text-align: center;
    margin-bottom: 0px;
}



